<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/impact" rel="stylesheet">
<h1 style="font-family: Orbitron,Arial,Helvetica,sans-serif; font-weight: 700;">
    {{pkgFullName}}<br/>
    {{! Powered by HT Web-Framework V2-lite }}
</h1>

<br/>

<h2 style="font-family: Orbitron,Arial,Helvetica,sans-serif; font-weight: 700;">
    Proudly Presented to you by: <br/>
    <i style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: red;">{{pkgAuthor}}</i><br/>
    <span style="font-weight: 400;font-size: 1.5rem;">Developer of {{pkgFullName}}</span>
</h2>

<p>
    This Web-Interface is Powered by the HT Web-Framework V2-lite.<br/>
    Check out <a href="https://web.archive.org/web/20220426161432/https://drillkea.com/" target="_blank">https://drillkea.com</a> for the first Iteration! (via IA, it is currently only a static site)<br/>
    Check out <a href="https://SWProBuilders.com" target="_blank">https://SWProBuilders.com</a> for the second Iteration with all features!
</p>