<h1 class="text-center">Proxies</h1>
<p>Note: Stubs take precedence over Proxies. If a Stub is configured and enabled for a domain, the Proxy will not be used.</p>
<div class="row">
    <div class="col">
    <a href="/proxy/new" class="btn btn-primary">New Proxy</a>
    <a href="#" onclick="applyConfig(event)" class="btn btn-info">Apply Config</a>
    <p class="spacer"></p>
    {{#proxies}}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{host}}</h5>
                <p class="card-text">
                Enabled: {{enabled}}<br>
                System Rule: {{special}}<br>
                Maintenance: {{maintenance}}<br>
                Target: <a href="{{target}}" target="_blank">{{target}}</a><br>
                Redirect Only Mode: {{redirect}}<br>
                Temporary Redirect: {{redirectTemp}}<br>
                Timeout: {{timeout}}ms<br>
                SSL: {{secure}}<br>
                Custom Headers: {{#headers}}true{{/headers}}{{^headers}}false{{/headers}}<br>
                </p>
                <p class="card-text">Description: {{description}}</p>
                {{^special}}<a href="/proxy/{{id}}/edit" class="btn btn-primary">Edit</a>{{/special}}
                {{^special}}{{^write_protected}}<a href="/proxy/{{id}}/toggle" class="btn btn-warning">Toggle</a>{{/write_protected}}{{/special}}
                {{^special}}{{^write_protected}}{{^protected}}<a href="#" onclick="deleteItem('{{id}}', event)" class="btn btn-danger">Delete</a>{{/protected}}{{/write_protected}}{{/special}}
                <script>
                function deleteItem(id, event) {
                    event.preventDefault();
                    if (confirm('Are you sure you want to delete this proxy?')) {
                        fetch('/proxy/' + id + '/delete', { method: 'POST' })
                            .then(() => window.location.reload());
                    }
                }
                </script>
            </div>
        </div>
    {{/proxies}}
    </div>
</div>