<h1 class="text-center">Status Pages / Stubs</h1>
<p>Note: Stubs take precedence over Proxies. If a Stub is configured and enabled for a domain, the Proxy will not be used.</p>
<div class="row">
    <div class="col">
    <a href="/stub/new" class="btn btn-primary">New Stub</a>
    <a href="#" onclick="applyConfig(event)" class="btn btn-info">Apply Config</a>
    <p class="spacer"></p>
    {{#stubs}}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="{{#secure}}https://{{/secure}}{{^secure}}http://{{/secure}}{{host}}" target="_blank">{{host}}</a></h5>
                <p class="card-text">
                Enabled: {{enabled}}<br>
                System Rule: {{special}}<br>
                Status Code: {{status}} ({{status_message}})<br>
                Message: "{{message}}"<br>
                SSL: {{secure}}<br>
                </p>
                <p class="card-text">Description: {{description}}</p>
                <a href="/stub/{{id}}/edit" class="btn btn-primary">Edit</a>
                {{^special}}{{^write_protected}}<a href="/stub/{{id}}/toggle" class="btn btn-warning">Toggle</a>{{/write_protected}}{{/special}}
                {{^special}}{{^write_protected}}{{^protected}}<a href="#" onclick="deleteItem('{{id}}', event)" class="btn btn-danger">Delete</a>{{/protected}}{{/write_protected}}{{/special}}
                <script>
                function deleteItem(id, event) {
                    event.preventDefault();
                    if (confirm('Are you sure you want to delete this stub?')) {
                        fetch('/stub/' + id + '/delete', { method: 'POST' })
                            .then(() => window.location.reload());
                    }
                }
                </script>            </div>
        </div>
    {{/stubs}}
    </div>
</div>